<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Web of Approaches</title>
        <link rel="stylesheet" href="/static/style.css" />
        <script src="/static/script.js" type="module" defer></script>
    </head>
    <body>
        <div>
            <h3>jMY6 02<span class="bKiis9" id="D4kG-XsG7s9t">J1t2Eg9;m1ECev9:?/A0dP;;DRiEeE:9F/LucO;9FOn5E?9;gO_0Gh9:?5?^@V;;EP0OGq:9F3l/eH;9EQ20?C9;ASKMm-9:kSDah>;;?.L2Gq:9iSrNg/;9@OjEkW9;AGKti@9:g/WCdM;;egLPm0:9AXmDE_;9FSfEEr9;GSeCGl9:EUfCF>;;ETdEGq:9GUdDEQ;9FSfEEL9;</span>KQ</h3>
            <form>
                <div class="E2sXtKV9">
                    <label for="E2sXtKV9-1">02sXtKV9 8: UbKgb jMY6 tkG KX 2Xsi tV 7k3T K94K9s tsAt?</label><br>
                    <input type="radio" id="DV37" value="DV37" name="E2sXtKV9-1" required />
                    <label for="DV37">DV37</label><br>
                    <input type="radio" id="iKw" value="iKw" name="E2sXtKV9-1" required />
                    <label for="iKw">iKw</label><br>
                    <input type="radio" id="XRk9" value="XRk9" name="E2sXtKV9-1" required />
                    <label for="XRk9">XRk9</label><br>
                </div>

                <div class="E2sXtKV9">
                    <label for="E2sXtKV9-2">02sXtKV9 5: UbKgb jMY6 tkG KX 2Xsi tV isDK9s k9 V3is3si 4KXt?</label><br>
                    <input type="radio" id="24" value="24" name="E2sXtKV9-2" required />
                    <label for="24">24</label><br>
                    <input type="radio" id="V4" value="V4" name="E2sXtKV9-2" required />
                    <label for="V4">V4</label><br>
                    <input type="radio" id="i4" value="i4" name="E2sXtKV9-2" required />
                    <label for="i4">i4</label><br>
                </div>

                <div class="E2sXtKV9">
                    <label for="E2sXtKV9-3">02sXtKV9 e: UbKgb jMY6 tkG KX 2Xsi tV isDK9s gV9s9t tbkt KX V94Z iKXR4kZsi KD tbs Wdd DkK4X tV 4Vki V3 KX iKXko4si?</label><br>
                    <input type="radio" id="9VXg3KRt" value="9VXg3KRt" name="E2sXtKV9-3" required />
                    <label for="9VXg3KRt">9VXg3KRt</label><br>
                    <input type="radio" id="9VXtZ4s" value="9VXtZ4s" name="E2sXtKV9-3" required />
                    <label for="9VXtZ4s">9VXtZ4s</label><br>
                    <input type="radio" id="9VD3k7sX" value="9VD3k7sX" name="E2sXtKV9-3" required />
                    <label for="9VD3k7sX">9VD3k7sX</label><br>
                </div>

                <div class="E2sXtKV9">
                    <label for="E2sXtKV9-4">02sXtKV9 q: UbKgb jMY6 tkG t3kiKtKV9k44Z Ktk4KgKQsX tsAt oZ isDk24t?</label><br>
                    <input type="radio" id="s7" value="s7" name="E2sXtKV9-4" required />
                    <label for="s7">s7</label><br>
                    <input type="radio" id="o" value="o" name="E2sXtKV9-4" required />
                    <label for="o">o</label><br>
                    <input type="radio" id="Kt" value="Kt" name="E2sXtKV9-4" required />
                    <label for="Kt">Kt</label><br>
                </div>
            
                <div class="E2sXtKV9">
                    <label for="E2sXtKV9-5">02sXtKV9 v: UbKgb jMY6 tkG KX k9 s7RtZ s4s7s9t?</label><br>
                    <input type="radio" id="o3" value="o3" name="E2sXtKV9-5" required />
                    <label for="o3">o3</label><br>
                    <input type="radio" id="iD9" value="iD9" name="E2sXtKV9-5" required />
                    <label for="iD9">iD9</label><br>
                    <input type="radio" id="9kw" value="9kw" name="E2sXtKV9-5" required />
                    <label for="9kw">9kw</label><br>
                </div>

                <button type="button" id="X2o7Kt">d2o7Kt</button>

                <div id="3sXRV9Xs"></div>
            </form>
        </div>
    </body>
</html>